<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchBarHousingString">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="searchForHouse()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <!-- Display selected user details -->
                    @if(searchHouseMode==true && searchedHouse && editMode==false && createMode==false){
                        <div>
                            <h1>House Details</h1>
                            <p>ID: {{searchedHouse._id}}</p>
                            <p>Title: {{searchedHouse.title}}</p>
                            <p>Description: {{searchedHouse.description}}</p>
                            <p>Owner: {{searchedHouse.owner}}</p>
                            <!-- <p>Reviews: {{searchedHouse.reviews}}</p> -->
                            <p>Rating: {{searchedHouse.rating}}</p>
                            <p>Photo: {{searchedHouse.photo}}</p>
                            <p>Coords: {{searchedHouse.coords.latitude}}, {{searchedHouse.coords.longitude}}</p>
                            <p>Availability: {{searchedHouse.availability}}</p>
                            <p>Address: {{searchedHouse.address}}</p>
                            <p>Coffee: {{searchedHouse.coffee}}</p>
                            <p>Schedule:</p>
                            <ul>
                                <li>Monday: {{selectedPlace.schedule.monday}}</li>
                                <li>Tuesday: {{selectedPlace.schedule.tuesday}}</li>
                                <li>Wednesday: {{selectedPlace.schedule.wednesday}}</li>
                                <li>Thursday: {{selectedPlace.schedule.thursday}}</li>
                                <li>Friday: {{selectedPlace.schedule.friday}}</li>
                                <li>Saturday: {{selectedPlace.schedule.saturday}}</li>
                                <li>Sunday: {{selectedPlace.schedule.sunday}}</li>
                            </ul>
                            @if(searchedHouse.house_deactivated==true){
                                <p>House Status: Deactivated</p>
                            }@else{
                                <p>House Status: Active</p>
                            }
                            <p>Creation Date: {{searchedHouse.creation_date}}</p>
                            <p>Last Modified: {{searchedHouse.modified_date}}</p>
                            <button class="btn btn-primary" type="button" (click)="backToHouseList()">Back</button>
                            <span style="margin-right: 10px;"></span>
                            <button class="btn btn-primary" type="button" (click)="editHouseMode()">Edit House</button>
                            <span style="margin-right: 10px;"></span>
                            <button class="btn btn-primary" type="button" (click)="deactivateHouse()">Deactivate House</button>
                        </div>
                    }@else if (searchHouseMode==true && searchedHouse==null){
                        <h1>House not found</h1>
                        <button class="btn btn-primary" type="button" (click)="backToHouseList()">Back</button>
                    }
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <!-- Display list of users -->
                    <div>
                        @if(houseSelected==false && createMode==false && searchHouseMode==false && editMode==false){
                            <h1>Houses found:</h1>
                            <ul style="list-style: none; padding: 0;"> 
                            @for(house of houses; track house._id)
                            {
                                <li style="padding:5px">
                                    <button class="btn btn-primary" type="button" (click)="onSelectHouse(house)">
                                        <span class="name">{{house.title}}</span>
                                    </button>
                                </li>
                            }
                            </ul>
                            <div style="padding:10px" > 
                                <button class="btn btn-primary" type="button" (click)="createHouseBtn()">Create new house</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
